<nav class="bg-stone-900/90 p-4">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
        <div class="text-white text-2xl font-bold mb-4 md:mb-0">
            Struktura hierarchiczna firmy
        </div>
        <div class="flex flex-col md:flex-row gap-4 text-white">
            <a routerLink="/start" routerLinkActive="font-bold" class="hover:underline">Start</a>
            <a routerLink="/employees/employee-list" routerLinkActive="font-bold" class="hover:underline">Lista
                pracowników</a>

        </div>
    </div>
</nav>