<nav class="bg-stone-900/90 p-4">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">

        <div class="flex justify-start col-span-1 p-2">
            <div class="flex gap-4">               
                <app-button [actionType]="UiActionType.LineHeight" [ariaLabel]="'Zmień odstęp między wierszami'">
                    <app-img [src]="'/height.svg'" [alt]="'Ikonka'" />
                </app-button>
                <app-button [actionType]="UiActionType.LetterSpacing" [ariaLabel]="'Zmień odstęp między literami'">
                    <app-img [src]="'/width.svg'" [alt]="'Ikonka'" />
                </app-button>
            </div>
        </div>
        <div class="flex justify-end col-span-1">
            <div class="flex gap-4">
                <app-button [actionType]="UiActionType.ReadPage" [buttonTitle]="'🔊'" 
                    [ariaLabel]="'🔊 Przeczytaj stronę'"  class="text-lg"/> 

                <app-button [actionType]="UiActionType.FontSize" [value]="FontSize.FONTSIZE_18" [buttonTitle]="'A'"
                    [ariaLabel]="'Zmień rozmiar czcionki na 18px'" class="text-lg"/>

                <app-button [actionType]="UiActionType.FontSize" [value]="FontSize.FONTSIZE_24" [buttonTitle]="'A+'"
                    [ariaLabel]="'Zmień rozmiar czcionki na 24px'" class="text-2xl" />

                <app-button [actionType]="UiActionType.FontSize" [value]="FontSize.FONTSIZE_30" [buttonTitle]="'A++'"
                    [ariaLabel]="'Zmień rozmiar czcionki na 30px'" class="text-3xl"/>


                <app-button [actionType]="UiActionType.Color" [ariaLabel]="'Zmień kontrast'">
                    <app-img [src]="'/contrast.svg'" [alt]="'Ikonka'" />
                </app-button>
            </div>
        </div>
    </div>
</nav>