<app-select [label]="'Wybierz pracownika'" 
            [name]="'name'" 
            [forId]="'employees'"
            [cssClassSelect]="'w-90 bg-black bg-opacity-90 p-2 rounded border focus:outline-none focus:ring-2 focus:ring-gray-500'"
            [cssClassOptions]="'w-60 bg-black bg-opacity-90'" 
            [ariaLabel]="'Wybierz pracownika'"
            [employeesSignal]="employeesSignal()" 
            (foundEmployee)="foundEmployee=$event"
            (selectedName)="selectedName=$event" />
            
@if(selectedName) {
  <app-employee-structure [foundEmployee]="foundEmployee" 
                          [selectedName]="selectedName" />
}

