<nav class="bg-stone-900/90 p-4">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
        <div class="mb-4 md:mb-0">
            Struktura hierarchiczna firmy
        </div>
        <div class="flex flex-col md:flex-row gap-4 ">
            <app-router-link 
                [routerPath]="'/start'" 
                [cssClass]="'hover:underline'" 
                [cssClassActive]="'font-bold'" 
                [routerLinkTitle]="'Start'" />
            <app-router-link 
                [routerPath]="'/employees/employee-list'" 
                [cssClass]="'hover:underline'" 
                [cssClassActive]="'font-bold'" 
                [routerLinkTitle]="'Lista pracowników'" />
        </div>
    </div>
</nav>