<hr class="border border-gray-700 my-4" />
<h1 class="font-semibold mt-12 mb-8">Wizualizacja struktury pracowników firmy (wypunktowana)</h1>
<div class="font-semibold mt-12 mb-8">
    <p>ID: {{selectedName()?.id}}</p>
    <p>{{selectedName()?.firstName}} {{selectedName()?.lastName}}</p>
</div>

<ul>
    @for (emp of foundEmployee(); track emp.id) {
    <li>
        <app-employee-nested-list [node]="emp" />
    </li>
    }
</ul>

<hr class="border border-gray-700 my-4" />
<div class="flex flex-col items-center">
    <h1 class="font-semibold mt-12 mb-8">Wizualizacja struktury pracowników firmy (widok drzewa)</h1>
    @for (emp of foundEmployee(); track emp.id) {
        <app-tree-node [node]="emp" [isRoot]="true" />
    }
</div>